@model IEnumerable<Puzzle15.Models.Pictures>

@{
    ViewData["Title"] = "Puzzle 15";
}

<h1>Puzzle Slider Pictures</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PicName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
